extends ../chapterLayout

block ChapterIntroduction
  :markdown
    I have been a programmer for more than 20 years. The longer I program, the more I appreciate a lesson learned from an IBM consultant when I was a newbie: it is always a good idea to ask three questions before start working on a new project or learn a new programming skill:
  
    - Why do I need to do this?
    - What are the right things to do?
    - How to do it?
  
    This chapter first answers these questions. Then it gives a brief introduction to JavaScript history and lists some learning resources that you might want to know. 

block SectionContent
  :markdown
    Unlike other programming languages, JavaScript is the only standard programming. More or less, a Web application developer needs to use JavaScript to produce good user experience regardless which programming language used in the server side development.

    When Node.js was created by Ryan Dahl in 2009, it became possible to use JavaScript in the server side to write reliable and scalable Web applications. Now developers can use the same programming language to write both client-side and server-side application code. The hassles of learning and mixing multiple programming language are significantly reduced.
