extends ../chapterLayout   

block SectionContent
  :markdown
    JavaScript is a simple, powerful and flexible scripting program language. It is easy to write simple programs and easy to introduce hard-to-debug bugs. You should learn the "right" language features and coding styles to take advantage of the "good parts" of the JavaScript programming language. You should understand the nuances of JavaScript and pay attention to the common usage patterns to avoid misuse of its flexibility. Following are some tips.
  
    - You should learn and follow the [JavaScript code conventions](http://javascript.crockford.com/code.html). You can customize the code conventions if you use a different coding style and have a good technical reason. 
    
    - JavaScript is undergoing an active development. New features and changes are introduced in new language standards. You should learn to use new language features. When there is a back-compatibility issue, you should know it and learn how to deal with it.
    
    - You should understand and learn "the good parts" of JavaScript.  Once you learn the basic concepts, you can watch [Doug Crockford's video](http://youtu.be/hQVTIJBZook) or read his book [Java Script: The Good Parts](http://www.amazon.com/JavaScript-Good-Parts-Douglas-Crockford/dp/0596517742). 
    
    - You should learn a client-side JavaScript library such as [jQuery](http://jquery.com/) to manipulate HTML document contents and styles. The document object model (DOM) model is terrible and can be ignored.