extends ../chapterLayout
block SectionContent
  :markdown
    JavaScript was created in 1995 by Brendan Eich. He put many useful and powerful features into the language in less than 10 days and unavoidably introduced some defects. The language was originally called LiveScript then JavaScript. Microsoft's introduced the language to its Internet Explorer in 1996 and named it as JScript. In 1999, JavaScript became a standard as ECMAScript edition 3. In 2009, ECMAScript 5 (called ES5 in this document) was published and has been implemented by many browsers. The current status of ES5 support in different browsers can be found in http://kangax.github.com/es5-compat-table/. Many browsers including Firefox (version 4.0 or after), Chrome (version 7.0 or afte)r, and IE (version 9 or after) have good support for ES5.

    As a beginner, you want to learn the JavaScript language features defined in ES5 and use new features in your program. There are some tools helping you to address cross-broswer compatibility issues. Douglas Crockford's videos gave many reasons that you should avoid the "bad parts" and some awkward old coding practices.  