extends ../chapterLayout
block SectionContent
  :markdown
    The New York city mayor Michael Bloomberg and many others wanted to learn programing from the site 
    [Code Academy][]. The site teaches JavaScript in an interactive approach that might be fun for 
    many people. 

    For a quick start, read and try examples in Mozilla's [A re-introduction to JavaScript][]. It is a short introduction to the language. The parts after "Custom objects" can be skipped in your first read of the tutorial.

    When you know some basic JavaScript concepts, you may want to read a comprehensive tutorial such as Mozilla's [JavaScript Guide][]. You can ignore the last two chapters unless you use those features in your project.

    As you know most parts of JavaScript, especially when you feel comfortable with functions and objects, you should watch Douglas Crockford's [JavaScript videos][]. These videos changed my view of the JavaScript language from very negative to rather positive. You may want to skip the first video (Volume 1: the early years) if you do not care about the history of the JavaScript programming language.

    When in doubt, always check JavaScript language specification for clarification. You can check [ECMAScript Language Specification][]. Google search and stackoverflow.com also help you find answers for your programming questions.  

    [Code Academy]: http://www.codecademy.com
    [A re-introduction to JavaScript]: https://developer.mozilla.org/en/A_re-introduction_to_JavaScript
    [JavaScript Guide]: https://developer.mozilla.org/en/JavaScript/Guide
    [JavaScript videos]: http://www.yuiblog.com/crockford/
    [ECMAScript Language Specification]: http://www.ecmascript.org/