extends layout

block BodyContent
  :markdown
    Welcome to the book of JavaScript for Web Application Development. 
    This book is an introduction to the JavaScript programming language 
    and its use as a principal programming language 
    for the Web application development. The focus is on JavaScript's 
    "good and essential" parts and its common usage patterns for 
    multi-tier Web application development.

    ## Why Another JavaScript Book?
  
    There are many good JavaScript books.
    However, there is not a JavaScript book that meets all
    the following requirements of a book for today's JavaScript 
    Web application development:
     
    - covers the server-side development using
    JavaScript as the principal programming language.

    - describes new concepts and practices introduced by the new 
    language standards and the Node.js server-side platform. 

    - covers new web development framework such as Express and 
    NoSQL database such as MongoDB. 
    
    - ignores fancy fluff and discusses only the essential language features   
    in the right context for new JavaScript developers. 
    
    - introduces common usage patterns with how and why explained clearly by code examples. 
  
    This free online JavaScript book aims to fill the above gaps. 
    It is free for read online because I have learned a lot from free online
    resources. Additionally, free online book makes it easy to search and copy
    examples. 
  

    ## Introduction to the Book
  
    The book consists of three parts. 
    The first part explains the writing philosophy of this book. 
    The second part covers essentail JavaScript language features 
    and their common usage patterns with detail description and examples. 
    The third part uses JavaScript as the principal programming 
    language for the server-side web application development. It introduces the Node.js 
    plaftorm and the Express Framework for the server-side development. 
    This section also demonstrate the use of MongoDB in Web application. 

    ## Assumptions
  
    This is an introduction book to JavaScript for Web applicatoin development. 
    The only assumption is some basic knowledge of HTML, CSS and Web. 
    For example, you should know the concepts of the HTML "block" and 
    "inline" display modes and the HTTP "PUT" and "POST" methods. 
    There are many online resources and books in those areas. 
    Knowledge of any programming language is helpful but not required. 
  
    Please click [Contents](/contents) to read the book. 
